* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border-radius: 10px;
  max-width: max-content;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0;
}

h1 , h2 {
  text-align: center;
}

#text-input {
  padding: 5px;
  width: 100%;
}

#meme-insert {
  display: block;
}

#meme-image-container {
  margin: 0 auto;
  max-width: max-content;
  background-color: white;
  border: 1px solid black;
  position: relative;
}

#meme-image {
  display: block;
  height: 50vw;
  max-height: 400px;
}

#meme-text {
  margin: 0 auto;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  word-break: break-all;
}

button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 100%;
  vertical-align: middle;
  color: aliceblue;
  font-weight: 800;
}

.meme-template {
  height: 100px;
}

button:hover , .meme-template:hover {
  opacity: 70%;
}

button:active , .meme-template:active {
  opacity: 50%;
}

.button-margin {
  margin: 0 6px 6px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}


.margin-y {
  margin: 1rem 0;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
